.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  grid-gap: 3em;
}

.pokemon {
  border: 2px solid black;
  pointer-events: none;
}

.card-pokemon {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

.typesContainer {
  display: flex;
  gap: 10px;
}

.picInfoContainer {
  display: flex;
  gap: 2em;
}

.pokemonExtended {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}

.extendedInfo {
  width: 26em;
  height: 12em;
  background-color: #30a7d7;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: black;
  color: white;
}

/* POKEMON TYPES */
.type-water {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
  background-color: #4592c4;
  color: #fff;
  border-radius: 5px;
  width: 10em;
  height: 2em;
}

.type-grass {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
  background-color: #9bcc50;
  color: #212121;
  border-radius: 5px;
  width: 10em;
  height: 2em;
}

.type-poison {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
  background-color: #b97fc9;
  color: #fff;
  border-radius: 5px;
  width: 10em;
  height: 2em;
}

.type-fire {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
  background-color: #fd7d24;
  color: #fff;
  border-radius: 5px;
  width: 10em;
  height: 2em;
}

.type-psychic {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
  background-color: #f366b9;
  color: #fff;
  border-radius: 5px;
  width: 10em;
  height: 2em;
}

.type-flying {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-color: #3dc7ef;
  color: #212121;
  border-radius: 5px;
  width: 10em;
  height: 2em;
}

.type-ice {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
  background-color: #51c4e7;
  color: #212121;
  border-radius: 5px;
  width: 10em;
  height: 2em;
}

.type-electric {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #eed535 50%, #eed535 50%);
  background-color: #eed535;
  color: #212121;
  border-radius: 5px;
  width: 10em;
  height: 2em;
}

.type-ground {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background-color: #f7de3f;
  color: #212121;
  border-radius: 5px;
  width: 10em;
  height: 2em;
}

.type-fighting {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #d56723 50%, #d56723 50%);
  background-color: #d56723;
  color: #fff;
  border-radius: 5px;
  width: 10em;
  height: 2em;
}

.type-steel {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
  background-color: #9eb7b8;
  color: #212121;
  border-radius: 5px;
  width: 10em;
  height: 2em;
}

.type-dragon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background-color: #53a4cf;
  color: #fff;
  border-radius: 5px;
  width: 10em;
  height: 2em;
}

.type-fairy {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
  background-color: #fdb9e9;
  color: #212121;
  border-radius: 5px;
  width: 10em;
  height: 2em;
}

.type-ghost {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
  background-color: #7b62a3;
  color: #fff;
  border-radius: 5px;
  width: 10em;
  height: 2em;
}

.type-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #707070 50%, #707070 50%);
  background-color: #707070;
  color: #fff;
  border-radius: 5px;
  width: 10em;
  height: 2em;
}

.type-bug {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
  background-color: #729f3f;
  color: #fff;
  border-radius: 5px;
  width: 10em;
  height: 2em;
}

.type-rock {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
  background-color: #a38c21;
  color: #fff;
  border-radius: 5px;
  width: 10em;
  height: 2em;
}

.type-normal {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
  background-color: #a4acaf;
  color: #212121;
  border-radius: 5px;
  width: 10em;
  height: 2em;
}
