.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  grid-gap: 3em;
}

.pokemon {
  border: 2px solid black;
  pointer-events: none;
}

.card-pokemon {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

button {
  width: 120px;
  height: 40px;
  cursor: pointer;
}
